<ul class="navbar-nav text-uppercase ml-auto" style="display: flex; flex-direction: row;">
  <li class="nav-item" style=" margin-right: 30px !important;">
    <a class="nav-link" href="/admin">Admin</a>
  </li>
  <li class="nav-item" style=" margin-right: 30px !important;">
    <a class="nav-link" href="/admin/categories">Categories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/posts">Posts</a>
  </li>
</ul>